# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

#transpiled file by webstorm
lib/**/*.js
lib/**/*.map

#webstorm folder
.idea

#mac files
.DS_Store

#build dir
build

#typescript definition file
typings